body {
	background:#0d0d0d;
	color:#ffffff;	
}
.overall-container{
	background:#0d0d0d;
	color:#ffffff;
}
.navbar{
	background:#0d0d0d;
	border-bottom:1px #4d4d4d solid;
}
.navbar .navbar-inner {
	background:#0d0d0d;
	color:#ffffff;
	
}
#sessions .first{
	background:#161616;
}
#sessions .second{
	background:#1f1f1f;
}
#sessions .third{
	background:#242424;
}
#sessions .starts{
	display:none;
}
#sessions  li{
	border-top:none;
	border-bottom:none;
	border-left:none;
	border-right:none;
	color:#fff
}
#sessions li div{
	padding:.5em 0em 0em 0;
	width:100%;
	font-size: 0.8em;
	color:#fff;
}
@media screen and (device-aspect-ratio: 2/3)  {
		/* Styles */
		
		#sessions li  .summary{	
			padding: 1em 0em 0em 0em;
			font-size: .8em;
		}
		#sessions li .more{
			font-size: 1.2em;
			padding:1em .5em 0em .5em
		}
	}
#sessions li .summary, .location{
	font-weight:bold;
	width:auto;
	font-size:1em;
	margin: 0 auto;
	width: 90%;
	
}
#sessions li .location{
	font-weight:normal;
	font-size:.9em;
	margin:.5em 0em;
	padding:.5em 0em;
}
#title{
	background-position: 0 0px;
	height:12px;
}
#Stage_a, #Stage_p, #Stage_l, #Stage_n, #Stage_b{
	color:#fff!important;
}
#sessions  {
	background:#000;
}
#sessions li {
	background:#000;
}
