body {

}
.navbar {
	margin-bottom: 0px;
	height: 100%;
	border:none;
}
#content{
	width:100%;
	height:100%;
	text-align:center;
}
#Stage{
	position:absolute;
	top:20%;	
}
#logo_holder {
	margin:0 auto;
	width: 150px;
	height: 72px;
}
#logo_holder img {
	opacity: 1.0;
}
#logo_base{
	opacity:1.0;
}
#logo_slash{
	opacity:1.0;
}
.navbar .brand {
	padding-right: 0px;
	padding-left: 0px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position:absolute;
	bottom:50px;
}
.brand #title{
	margin: 0 auto;
	text-align: center;
	float: none;
	width:47px;
}
.overall-container {
width: 100%;

height: 100%;
background: #fff;
overflow: hidden;
}